body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #314e50; /* Dark background */
    font-family: sans-serif;
}

.calculator {
    background-color: #747474;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

h2 {
    text-align: left;
    margin-bottom: 10px;
    display: block;
    justify-content: left;
    margin-top: 0px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#display {
    width: 100%;
    height: 70px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box; /* Keeps padding inside width */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 Columns */
    gap: 8px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #43aaff; /* Orange for operators */
    color: white;
}

.equal-sign {
    grid-column: span 2; /* Make '=' button wide */
    background-color: #2ecc71; /* Green for equals */
    color: white;
}